<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <style>
      footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: pink;
        color: white;
        text-align: center;
      }
      ul.nav a {
        margin-top: 5px;
        background-color: pink;
        float:left;
      }
      ul.nav a:hover {
        cursor: pointer;
        background: transparent;
      }
    </style>
  </head>
  <body>
    <ul class='nav'>
      <li>
        <a href="/homepage">   
        <div class="logo">
          <img src="logo1.png" alt="MakersBnB logo" width="40" height="40">
        </div>
        </a>
      </li>
      <li>
        <form action="/logout" method="post">
          <button type="submit">Log Out</button>
        </form>
      </li>
      <li>
        <form action="/my-requests" method="get">
          <button type="submit">View My Requests</button>
        </form>
      </li>
      <li>
        <form action="/requests-for-approval" method="get">
          <button type="submit">View Requests For Me</button>
        </form>
      </li>
      <li>
        <form action="/my-listings" method="get">
          <button type="submit">View My Listings</button>
        </form>
      </li>
      <li>
        <form action="/messages" method="get">
          <button type="submit">My Messages</button>
        </form>
      </li>
    </ul>
    <header class="homepage-container">
      <h1>Welcome, <%= session[:user].name %></h1>
      <h3>"Making your BnB dreams come true..."</h3>
      <h3>"Wherever you want to be... Makers BnB"</h3>
      <form action="/new_listing_form" method="get">
        <button type="submit" class="button-56">Create a new listing</button>
      </form>
      <form action="/listings" method="get">
        <button type="submit" class="button-56">View all listings</button>
      </form>
    </header>
    <footer>
      <p>Built by Aimée, Andy, Henry, Jude and Will</p>
    </footer>
  </body>
</html>
