<html>
  <head>
  <body>
    <link rel="stylesheet" type="text/css" href="listings.css"><% @listing_repository.all.reverse.each do |listing| %> <br>
    <br>
    <br>
    <div class="big-div">
      <h1><%= listing.name %> </h1>
      <p><%= listing.description %> </p>
      <p>£<%= sprintf("%.2f", listing.price_per_night) %> per night </p>
      <h5>
        <a href="/listings/<%= listing.id %>">
          <br>
          <div class="btn-container">
            <button type="button" id="btn2">View listing</button>
        </a>
      </h5>
      <p>&nbsp</p>
    </div>
    </div>
    <br><% end %>
  </body </head>
</html>