<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="listings.css">
  </head>
  <body>
    <ul class='nav'>
      <li>
        <a href="/homepage">   
        <div class="logo">
          <img src="logo1.png" alt="MakersBnB logo" width="40" height="40">
        </div>
        </a>
      </li>
      <li>
        <form action="/logout" method="post">
          <button type="submit">Log Out</button>
        </form>
      </li>
      <li>
        <form action="/my-requests" method="get">
          <button type="submit">View My Requests</button>
        </form>
      </li>
      <li>
        <form action="/requests-for-approval" method="get">
          <button type="submit">View Requests For Me</button>
        </form>
      </li>
      <li>
        <form action="/my-listings" method="get">
          <button type="submit">View My Listings</button>
        </form>
      </li>
      <li>
        <form action="/messages" method="get">
          <button type="submit">My Messages</button>
        </form>
      </li>
    </ul>
    <h1 class="nice-title">All Messages</h1>
    <% valid_bookings = @booking_repository.all.select do |booking| %>
      <% (booking.booked == 'yes') and (session[:user].id == booking.user_id or session[:user].id == (@booking_repository.find_host_id_from_booking_id(booking.id)))%>
    <% end %>
    <% p valid_bookings %>
    <% valid_bookings.each do |valid_booking| %>
      <br>
      <br>
      <br>
      <div class="big-div">
      <% host_id = @booking_repository.find_host_id_from_booking_id(valid_booking.id) %>
        <% if session[:user].id == valid_booking.user_id %>
          <h1> View chat with Host: <%= @user_repository.find_by_id(host_id).name%></h1>
        <% else %>
          <h1> View chat with Guest: <%= @user_repository.find_by_id(valid_booking.user_id).name%></h1>
        <% end %>
        <br>

        <a href="/messages/<%= host_id %>/<%= valid_booking.user_id%>">
          <br>
          <div class="btn-container">
            <button type="button" id="btn2">View chat</button>
          </div>
        </a>
      </h5>
      <p>&nbsp</p>
    </div>
  </div>
  <br>
<% end %>
</body>
</html>
