<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<ul class='nav'>
      <li>
        <a href="/homepage">MakersBnB</a>
      </li>
      <li>
        <form action="/logout" method="post">
          <button type="submit">Log Out</button>
        </form>
      </li>
      <li>
        <form action="/my-requests" method="get">
          <button type="submit">View My Requests</button>
        </form>
      </li>
      <li>
        <form action="/requests-for-approval" method="get">
          <button type="submit">View Requests For Me</button>
        </form>
      </li>
      <li>
        <form action="/my-listings" method="get">
          <button type="submit">View My Listings</button>
        </form>
      </li>
    </ul>
    <h2 class="nice-title">Create a new listing</h2>
<form action="/new_listing_form" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" required required><br>
    <label for="price_per_night">Price per night:</label><br>
    <input type="text" id="price_per_night" name="price_per_night" required><br>
    <label for='start_date'>Start Date:</label>
    <input type='date' name='start_date' required>
    <label for='end_date'>End Date:</label>
    <input type='date' name='end_date' required>
    <input class="button" type="submit" value="Create Listing">
</form>
</body
</head>
</html>